<div class="container" dir="rtl">
    <!-- FIRST RAW DIV FOR WELLCOME AND MANAGER MASSAGES -->
    <div class="row">
        <!-- WELCOME -->
        <div class="col-lg-4" id="wellcome">
            <div class="panel panel-default">
                <div class="panel-body">ברוך הבא {{ currentUser.username + " " }} </div>
            </div>
        </div>
        <!--END OF WELCOME -->

        <!--MASSAGE -->
        <div class="col-lg-8" id="manager-msg">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="pull-left">
                        <a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editMessageModal" ng-show="isAdmin()"></a>
                    </div>
                    <h3 class="panel-title">הודעות מנהל</h3>
                </div>
                <div class="panel-body">
                    {{ displayedComment }}
                </div>
            </div>
            <!--END OF MASSAGE -->
        </div>
    </div>
    <!-- END OF FIRST RAW -->

    <!-- SECONED ROW FOR CURRENT SHIFTS -->
    <div class="row splliter">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">סידור לשבוע נוכחי</h3>
            </div>
            <div class="panel-body">
                <table class="schedule-table">
                    <tr class="table-title">
                        <th  class="panel-heading"></th><!-- Only one effects all!!-->
                        <th>א'</th>
                        <th>ב'</th>
                        <th>ג'</th>
                        <th>ד'</th>
                        <th>ה'</th>
                        <th>ו'</th>
                        <th>ש'</th>
                    </tr>
                    <tr class="table-schedule-area">
                        <th  class="panel-heading">16:00 - 08:00 (בוקר)</th><!-- Only one effects all!!-->
                        <td>16:00 - 8:00</td>
                        <td>16:00 - 8:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>16:00 - 8:00</td>
                        <td></td>
                    </tr>
                    <tr class="table-schedule-area">
                        <th  class="panel-heading">00:00 - 16:00 (ערב)</th><!-- Only one effects all!!-->
                        <td></td>
                        <td></td>
                        <td>00:00 - 16:00</td>
                        <td>00:00 - 16:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="table-schedule-area">
                        <th  class="panel-heading">08:00 - 00:00 (לילה)</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>8:00 - 23:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- END OF SECONED ROW -->

    <!-- THIRD ROW FOR NEXT WEEK SHIFTS -->
    <div class="row splliter">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">סידור לשבוע הבא</h3>
            </div>
            <div class="panel-body">אין סידור לשבוע הבא !</div>
        </div>
    </div>
    <!-- END OF THIRD ROW -->

    <!-- Edit Message Modal (admin only) -->
    <div id="editMessageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal Content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="col-md-6">
                        <button type="button" class="close pull-left" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="col-md-6">
                        <h3 class="modal-title">ערוך הודעה</h3>
                    </div>
                </div>
                <!-- End of Modal Header -->

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="adminComment" ng-model="adminComment"></textarea>
                    </div>
                </div>
                <!-- End of Modal Body -->

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateAdminComment()">שמור</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">בטל</button>
                </div>
                <!-- End of Modal Footer -->
            </div>
            <!-- End of Modal Content -->
        </div>
        <!-- End of Modal Dialog -->
    </div>
    <!-- End of Edit Message Modal -->
</div>