<div class="container">

    <!--ADMIN Schedule-->
    <div>

        <!--ACTIONS BUTTNOS-->
        <div class="panel">
            <div class="panel-heading"></div>
            <div class="action-buttons">
                <div class="panel-boddy">
                    <button type="button" class="btn btn-success "><i class="glyphicon glyphicon glyphicon-fullscreen"></i> הפץ סידור </button>
                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-random"></i> שיבוץ אוטומטי </button>
                </div>
            </div>
        </div>
        <!--END OF ACTIONS BUTTNOS-->

        <!--DAY'S PANEL-->
        <div class="row">

            <div class="panel">
                <div class="panel-default panel-body  days-cols">
                    <div class="panel-days col-lg-1 col-md-1  col-sm-1 col-xs-1" >ש'{{date}}</div>
                    <div class="panel-days col-lg-1 col-md-1 col-sm-1 col-xs-1">"ו'{{date}}</div>
                    <div class="panel-days col-lg-1 col-md-1 col-sm-1 col-xs-1">ה'{{date}}</div>
                    <div class="panel-days col-lg-1 col-md-1 col-sm-1 col-xs-1">ד'{{date}}</div>
                    <div class="panel-days col-lg-1 col-md-1 col-sm-1 col-xs-1">ג'{{date}}</div>
                    <div class="panel-days col-lg-1 col-md-1 col-sm-1 col-xs-1">ב'{{date}}</div>
                    <div class="panel-days col-lg-1 col-md-1 col-sm-1 col-xs-1">א'{{date}}</div>
                </div>
            </div>
        </div>
        <!--END OF DAY'S PANEL-->

        <!--MORNING SHIFT-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="pull-right dropdown">
                    <a class="glyphicon glyphicon-plus dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">הוסף משמרת</a></li>
                        <li><a href="#">הוסף חפיפה</a></li>
                    </ul>
                </div>
                <h3 class="panel-title text-center">בוקר</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
        <!--END OF MORNING SHIFT-->

        <!--EVENING SHIFT-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="pull-right dropdown">
                    <a class="glyphicon glyphicon-plus dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">הוסף משמרת</a></li>
                        <li><a href="#">הוסף חפיפה</a></li>
                    </ul>
                </div>
                <h3 class="panel-title text-center">ערב</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
        <!--END OF EVENING SHIFT-->
        <!--NIGHT SHIFT-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="pull-right dropdown">
                    <a class="glyphicon glyphicon-plus dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></a>
                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                    <!--Dropdown-->
                    <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">הוסף משמרת</a></li>
                        <li><a href="#">הוסף חפיפה</a></li>
                    </ul>
                </div>
                <h3 class="panel-title text-center">לילה</h3>

            </div>
            <div class="panel-body">
            </div>
        </div>
        <!--END OF NIGHT SHIFT-->


    </div>
    <!--End of ADMIN Schedule-->

    <!--EMPLOYEE Schedule-->
    <div>


    </div>
    <!--End of EMPLOYEE Schedule-->









</div>