<div class="container" dir="rtl">
    <h2>סידור עבודה</h2>
    <br>
    <br>

    <!-- Div For Regular User: -->
    <div ng-show="!isAdmin()">

        <div class="dates"> {{ nextScheduleDaysArray[6] }} - {{ nextScheduleDaysArray[0] }} </div>

        <!-- Shifts Table For Regular User: -->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>משמרות</th>
                <td>יום ראשון<br>{{ nextScheduleDaysArray[0] }}</td>
                <td>יום שני<br>{{ nextScheduleDaysArray[1] }}</td>
                <td>יום שלישי<br>{{ nextScheduleDaysArray[2] }}</td>
                <td>יום רביעי<br>{{ nextScheduleDaysArray[3] }}</td>
                <td>יום חמישי<br>{{ nextScheduleDaysArray[4] }}</td>
                <td>יום שישי<br>{{ nextScheduleDaysArray[5] }}</td>
                <td>יום שבת<br>{{ nextScheduleDaysArray[6] }}</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="shift in userShifts">
                <td>{{ shift.shiftName }}</td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[0]" ng-click="setSelected(0)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[0]" ng-click="setSelected(0)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[1]" ng-click="setSelected(1)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[1]" ng-click="setSelected(1)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[2]" ng-click="setSelected(2)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[2]" ng-click="setSelected(2)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[3]" ng-click="setSelected(3)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[3]" ng-click="setSelected(3)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[4]" ng-click="setSelected(4)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[4]" ng-click="setSelected(4)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[5]" ng-click="setSelected(5)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[5]" ng-click="setSelected(5)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[6]" ng-click="setSelected(6)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[6]" ng-click="setSelected(6)"></small>&nbsp;
                </td>

            </tr>
            </tbody>
        </table>
        <br>
        <br>

        <!-- Button For Saving User's Shifts: -->
        <button type="button" class="btn btn-info btn-lg" ng-click="updateUserShifts()">הזן סידור עבודה</button>
    </div>


    <!---------------------------------------------------->

    <!-- Div For Admin User: -->
    <div ng-show="isAdmin()">
        <!-- Date:-->
        <div class="arrow-right" title="Previous Week" ng-click="showPreviousWeekSchedule()"></div>
        <div class="dates"> {{ currentScheduleDaysArray[6] }} - {{ currentScheduleDaysArray[0] }} </div>
        <div class="arrow-left" title="Next Week" ng-click="showNextWeekSchedule()"></div>


        <!-- Shifts Table For Admin User: -->
        <div>
            <!-- Morning Shifts: -->
            <div class="panel panel-info">
                <!-- Panel Heading: -->
                <div class="panel-heading">
                    <center><h3 class="panel-title">בוקר</h3></center>
                    <span class="pull-left clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <!-- End of panel heading-->

                <!-- Panel Body: -->
                <div class="panel-body">
                    <br>
                    <table class="table table-hover admin-table" id="dev-table">
                        <thead align="center">
                        <tr>
                            <td>עמדה</td>
                            <td>יום ראשון<br>{{ currentScheduleDaysArray[0] }}</td>
                            <td>יום שני<br>{{ currentScheduleDaysArray[1] }}</td>
                            <td>יום שלישי<br>{{ currentScheduleDaysArray[2] }}</td>
                            <td>יום רביעי<br>{{ currentScheduleDaysArray[3] }}</td>
                            <td>יום חמישי<br>{{ currentScheduleDaysArray[4] }}</td>
                            <td>יום שישי<br>{{ currentScheduleDaysArray[5] }}</td>
                            <td>יום שבת<br>{{ currentScheduleDaysArray[6] }}</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="position in currentSchedule.morningShift.positionsArray">
                            <td>{{ position.positionName }}</td>
                            <td ng-repeat="shift in position.shiftsArray track by $index">
                                <span class="guard-name" ng-repeat="guard in shift.guardsArray track by $index">{{ guard.username }} <br></span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red" data-toggle="modal" data-target="#removeModal" ng-click="setSelectedToRemove()"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green" data-toggle="modal" data-target="#addModal"  ng-click="setSelectedToAdd(1)"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End of panel body -->
            </div>
            <!-- End of Morning Shift-->

            <!-- Evening Shifts: -->
            <div class="panel panel-info">
                <!-- Panel Heading: -->
                <div class="panel-heading">
                    <center><h3 class="panel-title">ערב</h3></center>
                    <span class="pull-left clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <!-- End of panel heading-->

                <!-- Panel Body: -->
                <div class="panel-body">
                    <br>
                    <table class="table table-hover admin-table" id="dev-table">
                        <thead align="center">
                        <tr>
                            <td>עמדה</td>
                            <td>יום ראשון<br>{{ currentScheduleDaysArray[0] }}</td>
                            <td>יום שני<br>{{ currentScheduleDaysArray[1] }}</td>
                            <td>יום שלישי<br>{{ currentScheduleDaysArray[2] }}</td>
                            <td>יום רביעי<br>{{ currentScheduleDaysArray[3] }}</td>
                            <td>יום חמישי<br>{{ currentScheduleDaysArray[4] }}</td>
                            <td>יום שישי<br>{{ currentScheduleDaysArray[5] }}</td>
                            <td>יום שבת<br>{{ currentScheduleDaysArray[6] }}</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="position in currentSchedule.eveningShift.positionsArray">
                            <td>{{ position.positionName }}</td>
                            <td ng-repeat="shift in position.shiftsArray track by $index">
                                <span class="guard-name" ng-repeat="guard in shift.guardsArray track by $index">{{ guard.username }} <br></span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red" data-toggle="modal" data-target="#removeModal" ng-click="setSelectedToRemove()"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green" data-toggle="modal" data-target="#addModal"  ng-click="setSelectedToAdd(2)"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End of panel body -->
            </div>

            <!-- Night Shifts: -->
            <div class="panel panel-info">
                <!-- Panel Heading: -->
                <div class="panel-heading">
                    <center><h3 class="panel-title">לילה</h3></center>
                    <span class="pull-left clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <!-- End of panel heading-->

                <!-- Panel Body: -->
                <div class="panel-body">
                    <br>
                    <table class="table table-hover admin-table" id="dev-table">
                        <thead align="center">
                        <tr>
                            <td>עמדה</td>
                            <td>יום ראשון<br>{{ currentScheduleDaysArray[0] }}</td>
                            <td>יום שני<br>{{ currentScheduleDaysArray[1] }}</td>
                            <td>יום שלישי<br>{{ currentScheduleDaysArray[2] }}</td>
                            <td>יום רביעי<br>{{ currentScheduleDaysArray[3] }}</td>
                            <td>יום חמישי<br>{{ currentScheduleDaysArray[4] }}</td>
                            <td>יום שישי<br>{{ currentScheduleDaysArray[5] }}</td>
                            <td>יום שבת<br>{{ currentScheduleDaysArray[6] }}</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="position in currentSchedule.nightShift.positionsArray">
                            <td>{{ position.positionName }}</td>
                            <td ng-repeat="shift in position.shiftsArray track by $index">
                                <span class="guard-name" ng-repeat="guard in shift.guardsArray track by $index">{{ guard.username }} <br></span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red" data-toggle="modal" data-target="#removeModal" ng-click="setSelectedToRemove()"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green" data-toggle="modal" data-target="#addModal"  ng-click="setSelectedToAdd(3)"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End of panel body -->
            </div>

        </div>
        <br>
        <br>

        <!-- Button for triggering set shifts algorithm: -->
        <button type="button" class="btn btn-info btn-lg" ng-click="setShifts()" ng-disabled="currentSchedule.published">קבע סידור עבודה</button>
        <button type="button" class="btn btn-success btn-lg" ng-click="setPublish()">פרסם סידור עבודה</button>
    </div>

    <!-- Manual Remove Modal -->
    <div id="removeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="col-md-6">
                        <button type="button" class="close pull-left" data-dismiss="modal" ng-click="restoreSelected(1)">&times;</button>
                    </div>
                    <div class="col-md-6">
                        <h3 class="modal-title">מחיקה</h3>
                    </div>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="form-group">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>שם העובד</th>
                                <th>עדיפות</th>
                                <th>מחיקה</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="guard in selectedGuardsArray">
                                <td>{{ guard.username }}</td>
                                <td>{{ guard.priority }}</td>
                                <td class="icon-color">
                                    <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red" title="מחק" ng-click="removeSelected(guard._id)"></i></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateSchedule()">אישור</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="restoreSelected(1)">ביטול</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Manual Add Modal -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="col-md-6">
                        <button type="button" class="close pull-left" data-dismiss="modal" ng-click="restoreSelected(2)">&times;</button>
                    </div>
                    <div class="col-md-6">
                        <h3 class="modal-title">הוספה</h3>
                    </div>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="form-group">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>שם העובד</th>
                                <th>עדיפות</th>
                                <th>הוספה</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="success" ng-repeat="guard in availableWorkersToAdd">
                                <td class="table-success">{{ guard.username }}</td>
                                <td>{{ guard.priority }}</td>
                                <td class="icon-color">
                                    <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green" title="הוסף" ng-click="addSelected(guard._id)"></i></span>
                                </td>
                            </tr>
                            <tr class="info" ng-repeat="guard in availableWorkersToDay">
                                <td>{{ guard.username }}</td>
                                <td>{{ guard.priority }}</td>
                                <td class="icon-color">
                                    <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green" title="הוסף" ng-click="addSelected(guard._id)"></i></span>
                                </td>
                            </tr>
                            <tr class="danger" ng-repeat="guard in unavailableWorkersToAdd">
                                <td>{{ guard.username }}</td>
                                <td>{{ guard.priority }}</td>
                                <td class="icon-color">
                                    <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green" title="הוסף" ng-click="addSelected(guard._id)"></i></span>
                                </td>
                            </tr>
                            <tr class="warning" ng-repeat="guard in pendingEmployeesList">
                                <td>{{ guard.username }}</td>
                                <td>{{ guard.priority }}</td>
                                <td class="icon-color">
                                    <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green" title="הוסף" ng-click="addSelected(guard._id)"></i></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateSchedule()">אישור</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="restoreSelected(2)">ביטול</button>
                </div>
            </div>
        </div>
    </div>
</div>