<div class="container" dir="rtl">
    <h2>סידור עבודה</h2>
    <br>
    <br>

    <!-- Div For Regular User: -->
    <div ng-show="!isAdmin()">
        <!-- Shifts Table For Regular User: -->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>משמרות</th>
                <th>יום ראשון</th>
                <th>יום שני</th>
                <th>יום שלישי</th>
                <th>יום רביעי</th>
                <th>יום חמישי</th>
                <th>יום שישי</th>
                <th>יום שבת</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="shift in userShifts">
                <td>{{ shift.shiftName }}</td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[0]" ng-click="setSelected(0)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[0]" ng-click="setSelected(0)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[1]" ng-click="setSelected(1)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[1]" ng-click="setSelected(1)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[2]" ng-click="setSelected(2)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[2]" ng-click="setSelected(2)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[3]" ng-click="setSelected(3)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[3]" ng-click="setSelected(3)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[4]" ng-click="setSelected(4)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[4]" ng-click="setSelected(4)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[5]" ng-click="setSelected(5)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[5]" ng-click="setSelected(5)"></small>&nbsp;
                </td>
                <td>
                    <small class="glyphicon glyphicon-ok icon icon-color-green" ng-show="shift.shifts[6]" ng-click="setSelected(6)"></small>
                    <small class="glyphicon glyphicon-remove icon icon-color-red" ng-show="!shift.shifts[6]" ng-click="setSelected(6)"></small>&nbsp;
                </td>

            </tr>
            </tbody>
        </table>
        <br>
        <br>

        <!-- Button For Saving User's Shifts: -->
        <button type="button" class="btn btn-info btn-lg" ng-click="updateUserShifts()">הזן סידור עבודה</button>
    </div>


    <!---------------------------------------------------->

    <!-- Div For Admin User: -->
    <div ng-show="isAdmin()">
        <!-- Date:-->
        <div class="arrow-right" title="Previous Week" ng-click="showPreviousWeekSchedule()"></div>
        <div class="dates"> {{ currentScheduleDaysArray[0] }} - {{ currentScheduleDaysArray[6] }} </div>
        <div class="arrow-left" title="Next Week" ng-click="showNextWeekSchedule()"></div>


        <!-- Shifts Table For Admin User: -->
        <div>
            <!-- Morning Shifts: -->
            <div class="panel panel-info">
                <!-- Panel Heading: -->
                <div class="panel-heading">
                    <center><h3 class="panel-title">Morning</h3></center>
                    <span class="pull-left clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <!-- End of panel heading-->

                <!-- Panel Body: -->
                <div class="panel-body">
                    <br>
                    <table class="table table-hover admin-table" id="dev-table">
                        <thead align="center">
                        <tr>
                            <td>עמדה</td>
                            <td>יום ראשון<br>{{ currentScheduleDaysArray[0] }}</td>
                            <td>יום שני<br>{{ currentScheduleDaysArray[1] }}</td>
                            <td>יום שלישי<br>{{ currentScheduleDaysArray[2] }}</td>
                            <td>יום רביעי<br>{{ currentScheduleDaysArray[3] }}</td>
                            <td>יום חמישי<br>{{ currentScheduleDaysArray[4] }}</td>
                            <td>יום שישי<br>{{ currentScheduleDaysArray[5] }}</td>
                            <td>יום שבת<br>{{ currentScheduleDaysArray[6] }}</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="position in positions">
                            <td>{{ position.positionName }}</td>
                            <td>
                                <span class="guard-name">Kilgore Kones</span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green"></i></span>
                            </td>
                            <td>
                                <span class="guard-name">Kilgore Kones</span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green"></i></span>
                            </td>
                            <td>
                                <span class="guard-name">Kilgore Kones</span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green"></i></span>
                            </td>
                            <td>
                                <span class="guard-name"></span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green"></i></span>
                            </td>
                            <td>
                                <span class="guard-name">Kilgore Kones</span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green"></i></span>
                            </td>
                            <td>
                                <span class="guard-name"></span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green"></i></span>
                            </td>
                            <td>
                                <span class="guard-name">Kilgore Kones</span><br>
                                <span class="clickable"><i class="glyphicon glyphicon-minus icon-color-red"></i></span>
                                <span class="clickable"><i class="glyphicon glyphicon-plus icon-color-green"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End of panel body -->
            </div>
            <!-- End of Morning Shift-->

            <!-- Evening Shifts: -->


            <!-- Night Shifts: -->

        </div>
        <br>
        <br>

        <!-- Button for triggering set shifts algorithm: -->
        <button type="button" class="btn btn-info btn-lg" ng-click="setShifts()" ng-disabled="currentSchedule.published">קבע סידור עבודה</button>
        <button type="button" class="btn btn-success btn-lg" ng-click="setPublish()">פרסם סידור עבודה</button>
    </div>
</div>