<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/custom/login.css' />
    </head>
    <body dir='rtl'>
        <!-- LOGIN FORM -->
        <div id="login">
            <form action="/users/login" method="post">
                <input type="text" name="username" placeholder="שם משתמש"><br>
                <input type="password" name="password" placeholder="סיסמא"><br>
                <input type="submit" value="התחבר"><br>
             </form>
        </div>

        <footer>
            <!-- COPYRIGHTS: -->
            <div id="copyrights">Copyright &copy; All rights reserved 2016</div>
        </footer>
    </body>
</html>