.table th {
    text-align: right;
}

.modal-title {
    color: #01a8a8;
    font-weight: bold;
}

.required-label {
    color: indianred;
    font-weight: bold;
    font-size: 16px;
}

.icon-color {
    color: #01acac;
    cursor: pointer;
}

.icon-color small:hover {
    color: #555555;
}