body {
    background: #eeeeee;
    color: #333333;
    margin: auto;
    padding-top: 15%;
    text-align: center;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    width: 350px;
    -webkit-appearance: none;
}

#login form input[type="text"], #login form input[type="password"] {
    background-color: #fff;
    border: solid 2px #aaaaaa;
    border-radius: 50px;
    color: #aaaaaa;
    margin-bottom: 1em;
    padding: 0 16px;
    height: 50px;
}

#login form input[type="submit"] {
    background: #01acac;
    height: 50px;
    margin-bottom: 2em;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#login form input[type="submit"]:hover {
    background: #018a8a;
}

/* --- Media Queries: --- */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    input {
        width: 350px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    input {
        width: 350px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    input {
        width: 350px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    input {
        width: 290px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    input {
        width: 250px;
    }
}