.icon {
    margin-right: 15%;
    cursor: pointer;
}

.icon-color-green {
    color: Green;
}

.icon-color-red {
    color: Red;
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -18px;
    font-size: 15px;
}

.admin-table td {
    text-align: center;
    vertical-align: middle;
}

thead td {
    font-weight: bold;
    vertical-align: middle;
}